include ./head.pug
body 
    include ./header.pug
    .content#main
        if rows.length > 0
            form(action="/createAdmin", method="get", name="adminListForm")
                h2 Teacher list 
                input.invisible(type="text", name="edit_id")
                table 
                    tr 
                        th Teacher ID 
                        th Teacher Name 
                        th Username
                        th Phone
                        if edit
                            th Edit
                    each row in rows 
                        tr 
                            td #{row.user_id}
                            td #{row.username}
                            td #{row.email}
                            td #{row.phone}
                            if edit 
                                td 
                                    input(type="button", value="edit", onclick="editAdmin(this)", id=row.user_id)
        else 
            h2.empty No data found!
        a(href="/createAdmin?create=false") Create Admin