include ./head.pug
body 
    include ./header.pug
    .content#main 
        form(action="/saveAttendance", method="post", name="attendanceForm")
            h2 Attendance record for 
            input(type="number", name="semester", value=sem)
            input(type="text", name="course", value=course)
            input(type="text", name="subject", value=subject)
            input(type="date", name="date", value=date)
            if rows.length > 0
                input.invisible(type="text", name="numbers")
                table 
                    tr 
                        th Roll No 
                        th Name 
                        th Status 
                    each row in rows 
                        tr 
                            td #{row.roll_no}
                            td #{row.student_name}
                            if edit 
                                td 
                                    input.attendance-box(type="checkbox", name=row.roll_no)
                            else 
                                if row.status == 1
                                    td
                                        span present
                                else
                                    td
                                        span absent
            else 
                h2 No students belonging to that semester of the specified course!
            if edit 
                input.button(type="button", value="Submit", onclick="saveAttendance()")