include ./head.pug
body 
    include ./header.pug
    .content#main 
        form(action="/saveAttendance", method="post", name="attendanceForm")
            h2 Attendance record for 
            h3 Semester: #{sem}
            h3 Course: #{course}
            h3 Subject: #{subject}
            h3 Date: #{date}
            if rows.length > 0
                table 
                    tr 
                        th Roll No 
                        th Name 
                        th Status 
                    each row in rows 
                        tr 
                            td #{row.roll_no}
                            td #{row.student_name}
                            if edit 
                                td 
                                    input(type="checkbox", name=row.roll_no)
                            else 
                                if row.status == 1
                                    td
                                        span present
                                else
                                    td
                                        span absent
            else 
                h2 No students belonging to that semester of the specified course!
            if edit 
                input.button(type="button", value="Submit", onclick="submitForm()")