include ./head.pug
body 
    include ./header.pug
    .content#centered-flex
        .login-box
            h1 Add new student
            form(action="/saveStudent", method="post", name="studentForm")
                input.invisible(type="number", name="id", value=id)
                .input-field-container 
                    label(for="student_name") Student name 
                    input(type="text", name="student_name", value=sname)
                .input-field-container 
                    label(for="student_course") Student course 
                    input(type="text", name="student_course", value=course)
                .input-field-container 
                    label(for="roll_no") Roll No 
                    input(type="number", name="roll_no", value=roll_no)
                .input-field-container 
                    label(for="student_semester") Semester
                    input(type="number", name="student_semester", value=sem)
                input.button(type="submit", value="Submit")
            
